/*
 * @Author: wanxiaodong
 * @Date: 2020-10-26 11:38:20
 * @Last Modified by: wanxiaodong
 * @Last Modified time: 2020-12-14 17:35:06
 * @Description:
 */


* {
    box-sizing: border-box;
}
.container {
    display: block;
    width: 100%;
    padding: 0 15px;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

iframe {
    display: block;
    width: 100%;
    min-height: 80vh;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 25px 0;
}
.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.menu-item {
    display: block;
    width: 50%;
    color: #666;
    font-size: 16px;
    font-weight: 600;
    transition: all .2s linear;
    line-height: 32px;
    border-radius: 2px;
    padding: 5px 15px;
}
.menu-item:hover {
    background-color: #eee;
    color: #333;
}

.demo-block {
    background-color: #efefef;
    border-radius: 4px;
    padding: 15px;
    margin: 15px 0;
}
.demo-block img {
    max-height: 300px;
}
.demo-block pre {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto;
}

.demo-block .button {
    width: auto;
    display: block;
    margin: 10px auto 0 auto;
    text-align: center;
    font-size: 14px;
    color: #333;
    padding: 0 15px;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-user-select: auto;
    cursor: pointer;
}

.demo-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.demo-sub-title {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}